body {
    background: #f5f5f5;
    font-family: "Pretendard";
}
.main-heading h1 {
    font-size: 24px;
    font-weight: 700;
    display: inline;
    margin-bottom: 0;
}
.main-heading p {
    color: #ff4d4f;
    font-size: 14px;
    display: inline-block;
    position: relative;
    margin-left: 10px;
    margin-bottom: 0;
}
.main-heading {
    margin: 20px auto auto;
}
.main-heading p::before {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #ff4d4f;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: translate(-110%, 30%);
}
.navbar-expand-lg .navbar-nav {
    width: 100%;
    justify-content: space-between;
}
.nav-link {
    font-size: 16px;
}
.navbar.navbar-expand-lg.bg-body-tertiary {
    background: #ebeef3 !important;
}
.navbar.navbar-expand-lg.bg-body-tertiary a {
    color: #b1b4bb;
}
.navbar.navbar-expand-lg.bg-body-tertiary {
    background: #ebeef3 !important;
    padding: 0;
    overflow: hidden;
    border-radius: 8px;
}
.nav-link.active {
    background-color: #2a3958;
    color: #fff !important;
    font-weight: 500;
}
.nav-item:hover a {
    background-color: #2a3958;
    color: #fff !important;
}
.navbar-toggler {
    margin: 6px;
}
.filters_section h2 {
    font-size: 20px;
    font-weight: 600;
}
.filters_section {
    margin-top: 30px;
}
.filters_section h2 span {
    font-size: 14px;
    margin-left: 10px;
    font-weight: 500;
}
.filters_section {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropdown {
    margin: auto 10px;
}
.filters {
    display: flex;
}
.dropdown-menu.show li a:hover {
    background-color: #2a3958;
    color: #fff;
}
.dropdown button,
.dropdown-toggle.show {
    color: #0b101a;
    background: #fff;
    border: 1px solid #b1b4bb;
}
.dropdown-toggle:hover {
    background-color: #0b101a;
    color: #fff;
}
.custom_btn {
    background: #2a3958;
    color: #fff;
    border-radius: 10px;
    padding: 6px 16px;
    display: inline-block;
}
.filters p {
    margin: 0;
    margin-top: 10px;
}
.table-container table {
    width: 100%;
    overflow-x: scroll;
    margin-top: 15px;
    margin-bottom: 0;
}
.table-container table thead th {
    background: #eef0f4;
    padding: 15px 5px;
    border: 1px solid #fff;
    word-break: keep-all;
    font-size: 16px;
    font-weight: 600;
}
.table-container {
    overflow-x: auto;
    scrollbar-color: #6f80a0 #e6e8ea;
}
.table-container th,
.table-container td {
    white-space: nowrap;
    padding: 8px;
    border: 1px solid #ddd;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
.table tbody td {
    border: none !important;
    background: none;
    padding: 15px;
    font-size: 14px;
}
.table tbody tr:nth-child(2n) {
    background-color: #f9f9fb !important;
}
.table tbody tr:nth-child(2n + 1) {
    background-color: #fff !important;
}
.custom_label {
    background: #ebeef3;
    border: 1px solid #d7d8da;
    border-radius: 8px;
    padding: 5px 10px;
}
.warning_label {
    color: #9a3412;
    background: #ffedd5;
    padding: 5px;
    border-radius: 10px;
}
.danger_label {
    color: #991b1b;
    background: #fee2e2;
    padding: 5px;
    border-radius: 10px;
}
.success_label {
    color: #166534;
    background: #dcfce7;
    padding: 5px;
    border-radius: 10px;
}
.pagination ul li {
    display: inline;
}
.custom_pagination ul {
    display: flex;
    list-style: none;
    max-width: 800px;
    width: 100%;
    justify-content: space-between;
    margin: auto;
    color: #9599a1;
}
.custom_pagination {
    background-color: #f1f3f5;
    padding: 10px 0;
    margin-bottom: 30px;
}
.custom_pagination li a.active {
    background: #2a3958;
    padding: 3px 10px;
    border-radius: 6px;
    color: #fff;
}
.custom_pagination li a {
    text-decoration: none;
    color: #9599a1;
}
/*  checkbox css */
.checkbox-wrapper-48 {
    --gray: #636e72;
    --very-light-gray: #eee;
    --light-gray: #9098a9;
    --x-light-gray: #dfe6e9;
    --gradient: #dde0e5;
}

.checkbox-wrapper-48 label {
    font-size: 1.35em;
}

/* CORE STYLES */
.checkbox-wrapper-48 input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1em;
    height: 1em;
    font: inherit;
    border: 0.1em solid var(--light-gray);
    margin-bottom: -0.125em;
}
.checkbox-wrapper-48 input[type="checkbox"] {
    border-radius: 0.25em;
}
.checkbox-wrapper-48 input:checked {
    border-color: transparent;
    background: var(--gradient) border-box;
    box-shadow: 0 0 0 0.1em inset #fff;
}
.checkbox-wrapper-48 input:not(:checked):hover {
    border-color: transparent;
    background: linear-gradient(#fff, #fff) padding-box,
        var(--gradient) border-box;
}
.modal-footer {
    justify-content: center;
}
.modal-footer .custom_btn {
    border: none;
    width: 100px;
}
.custom_btn_white {
    border: 2px solid #2a3958 !important;
    border-radius: 10px;
    padding: 5px 10px;
    background: #fff;
    color: #2a3958;
    width: 100px;
}
#exampleModalLabel {
    font-size: 18px;
    font-weight: 600;
}
.fa.fa-check-circle-o {
    color: #13d013;
}
.success_text {
    font-size: 18px;
    font-weight: 600;
}
.btn-close {
    font-size: 12px;
}
.modal-body td {
    padding: 5px;
    border: 1px solid #d7d8da;
}
.modal-body td {
    padding: 5px;
}
.modal-body .label {
    background: #d7d8da;
    border: 1px solid #fff;
}
.modal-body table {
    width: 100%;
    font-size: 14px;
    padding-left: 15px;
}
.custom-input.form-control {
    border: none;
}
/* checkbox ccss end */
@media (max-width: 992px) {
    .filters_section h2 {
        margin-bottom: 15px;
    }
    .filters_section {
        display: block;
    }
    .filters_section.section_2 {
        display: flex;
    }
}
@media (max-width: 500px) {
    .dropdown button {
        margin: 5px !important;
        margin-left: 0 !important ;
    }
    .dropdown {
        margin: 0;
    }
    .filters,
    .filters_section.section_2 {
        display: block;
    }
}
